Repository dat-ecosystem/comm-comm, pull requests merged in 2019-02, with the labels that each got.

#17 Meeting notes 7
  meeting-notes/07-31January2019.md
Labels: meeting

#20 Notes for Meeting 8
  meeting-notes/08-07February2019.md
Labels: notes

#23 Add Website! as subdirectory, closes #21
  .gitignore
  .nvmrc
  website/README.md
  website/assets/icon.png
  website/gh-issues.js
  website/index.js
  website/manifest.json
  website/package-lock.json
  website/package.json
  website/sw.js
  website/views/404.js
  website/views/main.js
Labels: enhancement

#22 New meeting notes for Thu, 14
  meeting-notes/09-14February2019.md
Labels: notes

#24 Added 35c3 notes
  meeting-notes/02_27December2018_35c3.md
Labels: meeting

#27 Adding changes as discussed in meeting 10
  README.md
Labels: enhancement

#26 Meeting notes for todays meeting.
  meeting-notes/10-21February2019.md
Labels: notes
