Repository dat-ecosystem/comm-comm, pull requests merged in 2019-03, with the labels that each got.

#29 Add: new meeting notes 11
  meeting-notes/11-28February2019.md
Labels: notes

#32 Creating the website based on Readme.
  .gitignore
  README.md
  website/README.md
  website/get-readme.js
  website/package-lock.json
  website/package.json
  website/views/main.js
Labels: enhancement, website

#34 Fixes for #32
  README.md
  website/get-readme.js
  website/views/main.js
Labels: website

#35 Meeting #12 meeting notes
  meeting-notes/12-07March2019.md
Labels: notes

#33 Meetings calendar file
  .github/ISSUE_TEMPLATE/meeting.md
  .gitignore
  website/README.md
  website/assets/date_range.svg
  website/get-meetings.js
  website/gh-issues.js
  website/package-lock.json
  website/package.json
  website/views/main.js
Labels: enhancement, website

#40 Add: new meeting notes 13
  meeting-notes/13-14March2019.md
Labels: notes

#43 Meeting Notes 12
  meeting-notes/14-21March2019.md
Labels: notes
